.center-top{
    position: relative;
    height: 0.65rem;
    width: 8rem;
    margin: auto;
    background: url(../img/arr7.png);
    background-size: 100% 100%;
    letter-spacing: 0.15rem;
    color: #fff;
    font-size: 0.35rem;
    z-index: 999;
}
.data-city{
    width: 7rem;
    margin: auto;
    height: 0.4rem;
    text-align: center;
    -webkit-box-reflect: below 0.07rem -webkit-linear-gradient(transparent,transparent 70%,rgba(255,255,255,0.6));
}
.left-top{
    height: 92%;
    width: 4rem;
    margin-left: 0.3rem;
    z-index: 999;
    color: #fff;
}
.case-tell{
    font-size: 0.2rem;
    margin-left: 0.1rem;
}
.case-time{
    font-size: 0.1rem;
    margin-left: 0.4rem;
}
.case-sum{
    font-size: 0.1rem;
    margin-left: 0.65rem;
}
.case-num{
    font-size: 0.2rem;
    color: #FEB85E;
}
.case-show{
    height: 55%;
    width: 4rem;
    background: url(../img/arr3.png);
    background-size: 100% 100%;
    margin-top: -0.02rem;
    overflow: hidden;
}
.radius{
    margin-top: 10%;
}
.circle-1{
    height: 0.4rem;
    width: 0.4rem;
    margin: auto;
    border:0.08rem solid #E47769;
    border-left:0.08rem solid transparent;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
}
.ch-co-ye{
    border:0.08rem solid #E4CA1D;
    border-left:0.08rem solid transparent;
}
.ch-co-qi{
    border:0.08rem solid #44D3E4;
    border-left:0.08rem solid transparent; 
}
.ch-co-ys{
    border:0.08rem solid #0B50FE;
    border-left:0.08rem solid transparent; 
}
.circle-center{
    -webkit-transform: rotate(-45deg);
    text-align: center;
   /* line-height: 0.4rem;*/
}
.case-one{
    text-align: center;
    font-size: 0.12rem;
    font-weight: 500;
}
.case-tex{
    color: #E47769;
}
.tex-ye{
    color: #E4CA1D;
}
.tex-qi{
    color: #44D3E4;
}
.tex-ys{
    color: #0B50FE;
}
.new-case{
    width: 86%;
    height: 2.5rem;
    margin: auto;
}
.case-fl{
    height: 0.3rem;
}
.case-the{
    float: left;
    font-size: 0.18rem;
    color: #fff;
}
.case-cont{
    height: 0.2rem;
    width: 0.26rem;
    font-size: 0.12rem;
    color: #9C6F6A;
    float: right;
    border-bottom: 1px solid #9C6F6A;
}
.case-thing{
    width: 100%;
    height: 0.7rem;
    background: url(../img/arr24.png);
    background-size: 100% 100%;
}
.case-thing{
    font-size: 0.1rem;
    color: #fff;
    margin: auto;
    padding:0.05rem 0;
}
.case-usal{
    width: 92%;
    margin: auto;
    overflow: hidden;
}
.case-hot{
    margin-top: 0.04rem;
}
.min-radius{
    height: 0.05rem;
    width: 0.05rem;
    background: #1794C6;
    border-radius: 50%;
    margin-top: 0.08rem;
    margin-right: 0.08rem;
}
.ch-col{
    color: #F3B162;
}
.frequency{
    height: 40%;
    width: 4rem;
    margin-top: 0.3rem;
    z-index: 999;
    color: #fff;
    /* border: 1px solid #000; */
}
.fr-sel{
    background: rgba(255,255,255,0);
    border: none;
    font-size: 0.14rem;
    margin-left: 0.2rem;
    margin-top: 0.08rem;
    color: #fff;
}
.fr-text{
    font-size: 0.2rem;
    letter-spacing: 0.02rem;
    margin-left: 0.1rem;
}
.fr-bg{
    height: 46%;
    width: 4rem;
    background: url(../img/arr2.png);
    background-size: 100% 100%;
    margin-top: -0.02rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.2rem 0.3rem;
}
.chart{
    height:  100%;
    width: 92%;
    margin: auto;
}
.center{
    width: 55%;
    height: 2rem;
    z-index: 999;
    color: #fff;
}
.center-cen{
    width: 62%;
    height: 0.5rem;
    /* border: 1px solid #000; */
    margin: auto;
    margin-top: 0.1rem;
}
.area-1,.area-2{
    height: 0.45rem;
    width: 1.5rem;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 0.45rem;
    box-sizing: border-box;
    padding-left: 0.1rem;
}

.area-2{
    background: url(../img/arr8.png);
    background-size: 100% 100%;
    margin-left: 0.2rem; 
}
.area-2.on{
    background: url(../img/arr9.png);
    background-size: 100% 100%;
}
.area-2:hover{
    background: url(../img/arr9.png);
    background-size: 100% 100%;
}
.right{
    float: right;
    margin-right: 0;
    height: 93%;
    width: 4rem;
    z-index: 999;
    color: #fff;
    /* border: 1px solid #000; */
}
.crime{
    height: 0.3rem;
}
.ri-selected1,.ri-selected2{
    font-size: 0.12rem;
    background: rgba(255,255,255,0);
    border: none;
    margin-top: 0.1rem;
    color: #fff;
}
.ri-selected1{
    margin-left: 0.2rem;
}
.ri-selected2{
    margin-left: 0.2rem;
    margin-top: 0.12rem;
}
.ri-bg{
    height: 85%;
    width: 4rem;
    background: url(../img/arr1.png);
    background-size: 100% 100%;
}
.chart2{
    width: 86%;
    height:  90%;
    /* border: 1px solid #fff; */
    margin-top: 0.3rem;
    margin-left: 0.26rem;
}
.ri-left{
    height: 2.3rem;
    width: 4rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}
.ri-icon{
    width: 0.4rem;
    height: 2rem;
}
.ri-min{
    height: 0.2rem;
    width: 0.2rem;
}
.ri-text{
    height: 3rem;
    width: 0.2rem;
    color: #fff;
    font-size: 0.13rem;

}
.bottom{
    position: fixed;
    height: 1rem;
    width: 11rem;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 0rem;
    /* border: 1px solid #000; */
    background: url(../img/arr6.png);
    background-size: 100% 100%;
}
.bo-text{
    height: 1rem;
    width: 78%;
    margin: auto;
}
.bo-bg{
    height: 0.8rem;
    width: 0.8rem;
    background: url(../img/arr28.png);
    background-size: 100% 100%;
    margin: auto;
    text-align: center;
    line-height: 0.8rem;
    color: #fff;
    margin-top: 0.1rem;
}
.sum-bg{
    height: 100%;
    width: 100%;
    position: absolute;
}
.sum-center{
    height: 93%;
    width: 100%;
}
.map-log{
    height: 1.5rem;
    width: 2.2rem;
    background: url(../img/arr5.png);
    background-size: 100% 100%;
    color: #fff;
}
.map-text{
    padding-left: 0.1rem;
    overflow: hidden;
    letter-spacing: 0.02rem;
}
.map-cont{
    height: 0.25rem;
    border-left: 1px solid #fff;
    padding-left: 0.1rem;
    margin-top: 0.05rem;
}
.map-img{
    height: 0.5rem;
    width: 0.4rem;
    background: url(../img/arr27.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.map-radio{
    height: 0.25rem;
    width: 0.25rem;
    border-radius: 50%;
    background: #fff;
}
.right-top{
    height: 35.5%;
}
.mbox{

    background: -moz-linear-gradient(top,  rgba(61, 64, 71,1) 0%, rgba(39,39,39,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,39,39,1)), color-stop(100%,rgba(39,39,39,1)));
    background: -webkit-linear-gradient(top,  rgba(61, 64, 71,1) 0%,rgba(39,39,39,1) 100%);
    background: -o-linear-gradient(top,  rgba(61, 64, 71,1) 0%,rgba(39,39,39,1) 100%);
    background: -ms-linear-gradient(top,  rgba(61, 64, 71,1) 0%,rgba(39,39,39,1) 100%);
    background: linear-gradient(to bottom,  rgba(61, 64, 71,1) 0%,rgba(39,39,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#00272727',GradientType=0 );
}
.mbox{box-shadow:
        0 -1px 0 #858585,


        0 1px 10px rgba(0,0,0,.6),
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.2),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 7px 10px rgba(0,0,0,.25),
        0 15px 10px rgba(0,0,0,.2),
        0 25px 15px rgba(0,0,0,.15);}