.center-top{
    position: relative;
    height: 0.65rem;
    width: 8rem;
    margin: auto;
    background: url(../img/arr7.png);
    background-size: 100% 100%;
    letter-spacing: 0.15rem;
    color: #fff;
    font-size: 0.35rem;
    z-index: 999;
}
.data-city{
    width: 7rem;
    margin: auto;
    height: 0.4rem;
    text-align: center;
    -webkit-box-reflect: below 0.07rem -webkit-linear-gradient(transparent,transparent 70%,rgba(255,255,255,0.6));
}
.left-top{
    height: 92%;
    width: 4rem;
    margin-left: 0.3rem;
    z-index: 999;
    color: #fff;
}
.case-tell{
    font-size: 0.2rem;
    margin-left: 0.1rem;
}
.case-time{
    font-size: 0.1rem;
    margin-left: 0.4rem;
}
.case-sum{
    font-size: 0.1rem;
    margin-left: 0.65rem;
}
.case-num{
    font-size: 0.2rem;
    color: #FEB85E;
}
.case-show{
    height: 55%;
    width: 4rem;
    background: url(../img/arr3.png);
    background-size: 100% 100%;
    overflow: hidden;
}
.radius{
    margin-top: 10%;
}
.circle-1{
    height: 0.4rem;
    width: 0.4rem;
    margin: auto;
    border:0.08rem solid #E47769;
    border-left:0.08rem solid transparent;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
}
.ch-co-ye{
    border:0.08rem solid #E4CA1D;
    border-left:0.08rem solid transparent;
}
.ch-co-qi{
    border:0.08rem solid #44D3E4;
    border-left:0.08rem solid transparent; 
}
.ch-co-ys{
    border:0.08rem solid #0B50FE;
    border-left:0.08rem solid transparent; 
}
.circle-center{
    -webkit-transform: rotate(-45deg);
    text-align: center;
    line-height: 0.4rem;
}
.case-one{
    text-align: center;
    font-size: 0.12rem;
    font-weight: 500;
}
.case-tex{
    color: #E47769;
}
.tex-ye{
    color: #E4CA1D;
}
.tex-qi{
    color: #44D3E4;
}
.tex-ys{
    color: #0B50FE;
}
.new-case{
    width: 90%;
    height: 2.5rem;
    margin: auto;
}
.case-fl{
    height: 0.3rem;
}
.case-the{
    float: left;
    font-size: 0.18rem;
    color: #fff;
}
.case-cont{
    height: 0.2rem;
    width: 0.26rem;
    font-size: 0.12rem;
    color: #9C6F6A;
    float: right;
    border-bottom: 1px solid #9C6F6A;
}
.case-thing{
    width: 100%;
    height: 0.7rem;
    box-sizing: border-box;
    padding-top: 0.08rem;
    padding-left: 0.07rem;
    background: url(../img/arr24.png);
    background-size: 100% 100%;
}
.case-thing{
    font-size: 0.1rem;
    color: #fff;
    margin: auto;
    margin-top: 0.18rem;
    position: relative;
}
.case-usal{
    width: 92%;
}
/* .case-top{
    margin-top: 0.45rem !important;
} */
.case-hot2{
    margin-top: 0.06rem;
}
.case-hot3{
    margin-top: 0.06rem;
}
.min-radius{
    height: 0.05rem;
    width: 0.05rem;
    background: #1794C6;
    border-radius: 50%;
    margin-top: 0.08rem;
    margin-right: 0.08rem;
}
.ch-col{
    color: #F3B162;
}
.frequency{
    width: 4rem;
    height: 40%;
    position: relative;
    margin-top: 0.3rem;
    z-index: 999;
    color: #fff;
}
.fr-sel{
    background: rgba(255,255,255,0);
    border: none;
    font-size: 0.14rem;
    margin-left: 0.2rem;
    margin-top: 0.08rem;
    color: #fff;
}
.fr-text{
    font-size: 0.2rem;
    letter-spacing: 0.02rem;
    margin-left: 0.1rem;
}
.fr-bg{
    width: 4rem;
    height: 3.5rem;
    background: url(../img/arr2.png);
    background-size: 100% 100%;
    margin-top: -0.02rem;
    overflow: hidden;
}
.chart{
    position: relative;
    height: 40%;
    width: 92%;
    margin: auto;
}
.center{
    width: 55%;
    height: 2rem;
    z-index: 999;
    color: #fff;
}
.center-cen{
    width: 62%;
    height: 0.5rem;
    /* border: 1px solid #000; */
    margin: auto;
    margin-top: 0.1rem;
}
.area-1,.area-2{
    height: 0.45rem;
    width: 1.5rem;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 0.45rem;
}
.area-1{
    background: url(../img/arr9.png);
    background-size: 100% 100%;
}
.area-2{
    background: url(../img/arr8.png);
    background-size: 100% 100%;
    margin-left: 0.2rem; 
}
.right{
    float: right;
    margin-right: 0;
    height: 93%;
    width: 4rem;
    z-index: 999;
    color: #fff;
    /* border: 1px solid #000; */
}
.crime{
    height: 0.3rem;
}
.ri-selected1,.ri-selected2{
    font-size: 0.12rem;
    background: rgba(255,255,255,0);
    border: none;
    margin-top: 0.1rem;
    color: #fff;
}
.ri-selected1{
    margin-left: 0.2rem;
}
.ri-selected2{
    margin-left: 0.2rem;
    margin-top: 0.12rem;
}
.ri-bg{
    height: 85%;
    width: 4rem;
    background: url(../img/arr1.png);
    background-size: 100% 100%;
    overflow: hidden;
}
.chart2{
    width: 86%;
    height: 90%;
    /* border: 1px solid #fff; */
    margin-top: 0.3rem;
    margin-left: 0.26rem;
}
.ri-left{
    height: 3rem;
    width: 0.7rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}
.ri-icon{
    width: 0.4rem;
    height: 2rem;
}
.ri-min{
    height: 0.2rem;
    width: 0.2rem;
}
.ri-text{
    height: 3rem;
    width: 0.2rem;
    color: #fff;
    font-size: 0.13rem;

}
.bottom{
    position: fixed;
    height: 1rem;
    width: 11rem;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 0rem;
    /* border: 1px solid #000; */
    background: url(../img/arr6.png);
    background-size: 100% 100%;
}
.bo-text{
    height: 1rem;
    width: 78%;
    margin: auto;
}
.bo-bg{
    height: 0.8rem;
    width: 0.8rem;
    background: url(../img/arr28.png);
    background-size: 100% 100%;
    margin: auto;
    text-align: center;
    line-height: 0.8rem;
    color: #fff;
    margin-top: 0.1rem;
}
.sum-bg{
    height: 100%;
    width: 100%;
    position: absolute;
}
.map-text{
    padding-left: 0.1rem;
    overflow: hidden;
    letter-spacing: 0.02rem;
}
.map-radio{
    height: 0.25rem;
    width: 0.25rem;
    border-radius: 50%;
    background: #fff;
}
.anchorBL{
    display:none;    
} 
.sum-center{
    height: 93%;
    width: 100%;
}
.right-top{
    height: 35.5%;
}
.map-img{
    height: 0.5rem;
    width: 0.4rem;
    background: url(../img/arr27.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.map-log{
    position: absolute;
    height: 6rem;
    width: 8.5rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(23,17,27,0.8);
    z-index: 999;
    color: #fff;
    border-radius: 0.2rem;
    box-shadow:2px 2px 10px 2px rgba(255,255,255,0.3);
}
.map-cont{
    height: 0.25rem;
    width: 100%;
    margin-left: 46%;
    margin-top: 0.1rem;
}
.center-tab{
    margin-left: 6%;
}
.get-tab{
    margin-top: 0.2rem;
}
.show-tab{
    height: 0.4rem;
    width: 1.35rem;
    background: #493C67;
    font-size: 0.15rem;
    text-align: center;
    line-height: 0.4rem;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.ch-color{
    background: #302840;
}
table.gridtable {
	font-size:0.15rem;
	border-width: 1px;
	border-color: #CEC2E5;
    border-collapse: collapse;
    width: 7.5rem;
    text-align: center;
}
table.gridtable th {
	border-width: 1px;
	height: 0.4rem;
    border-style: solid;
    text-align: center;
	border-color: #CEC2E5;
	background-color: #2C2336;
}
table.gridtable td {
    font-size:0.13rem;
	border-width: 1px;
	height: 0.4rem;
	border-style: solid;
	border-color: #CEC2E5;
	background-color: #2C2336;
}
table.gridtable .click-ch td{
    background-color: #8A643D !important;
}
.close{
    height: 0.2rem;
    width: 0.2rem;
}
.be-relative{
    position: relative;
}
.close{
    position: absolute;
    right: 0.2rem;
    padding-top: 0.1rem;
    z-index: 3;
}
.mess{
    position: absolute;
    height: 5.5rem;
    width: 6rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(23,17,27,0.95);
    z-index: 9999;
    color: #fff;
    font-size: 0.17rem;
    border-radius: 0.1rem;
    box-shadow:2px 2px 10px 2px rgba(255,255,255,0.3);
}
.me-relative{
    width: 90%;
    margin: auto;
}
.be-center{
    text-align: center;
    margin-top: 0.1rem;
}
.me-close{
    margin-top: 0.05rem;
}
.me-high{
    height: 0.45rem;
    line-height: 0.45rem;
    width: 100%;
    border-bottom: 0.5px solid #fff;
}
.me-fl-left{
    float: left;
}
.me-fl-right{
    float: right;
    margin-right: 0rem;
}
.me-first{
    margin-top: 0.2rem;
}
.me-resolve{
    padding-top: 0.05rem;
    padding-bottom: 0.1rem;
    font-size: 0.15rem;
}
.me-getres{
    padding-bottom: 0.05rem;
    font-size: 0.2rem;
}
.me-line{
    border-bottom: 0.5px solid #fff;
}
.ge-put{
    height: 0.3rem;
    width: 2.1rem;
    border: 1px solid #A499B8;

}
.btn{
    height: 0.3rem;
    width: 1.1rem;
    border: 1px solid #A499B8;
}