/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green, .iradio_square-green {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 22px;
	height: 22px;
	background: url(../images/custom/green.png) no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_square-green {
	background-position: 0 0;
}

.icheckbox_square-green.hover {
	background-position: -24px 0;
}

.icheckbox_square-green.checked {
	background-position: -48px 0;
}

.icheckbox_square-green.disabled {
	background-position: -72px 0;
	cursor: default;
}

.icheckbox_square-green.checked.disabled {
	background-position: -96px 0;
}

.iradio_square-green {
	background-position: -120px 0;
}

.iradio_square-green.hover {
	background-position: -144px 0;
}

.iradio_square-green.checked {
	background-position: -168px 0;
}

.iradio_square-green.disabled {
	background-position: -192px 0;
	cursor: default;
}

.iradio_square-green.checked.disabled {
	background-position: -216px 0;
}

/* HiDPI support */
@media ( -o-min-device-pixel-ratio : 5/4) , ( -webkit-min-device-pixel-ratio :
		1.25) , ( min-resolution : 120dpi) {
	.icheckbox_square-green, .iradio_square-green {
		background-image: url(../images/custom/green2x.png);
		-webkit-background-size: 240px 24px;
		background-size: 240px 24px;
	}
}

.page-list a {
	display: inline-block!important;
	padding: 0 0.1rem!important;
	border: 1px solid #CEC2E5!important;
	box-shadow: 0px 0px 10px rgba(206,194,229,0.4)!important;
	margin: 0.1rem 0px!important;
}
table.gridtable {
	font-size:0.3rem;
	border-width: 1px;
	border-color: #CEC2E5;
	border-collapse: collapse;
	width: 18rem;
	text-align: center;
	margin-top: 0.1rem;
	color: #fff;
	margin-left: 3%;
	box-shadow: 0px 0px 10px rgba(206,194,229,0.4);
}
table.gridtable th {
	font-size: 0.3rem;
	border-width: 1px;
	height: 1rem;
	border-style: solid;
	text-align: center;
	border-color: #CEC2E5;
	/* background-color: #2C2336; */
}
table.gridtable td {
	border-width: 1px;
	font-size: 0.25rem;
	height: 0.8rem;
	text-align: center;
	border-style: solid;
	border-color: #CEC2E5;
	/* background-color: #2C2336; */
}
.close img{
	height: 0.4rem;
	width: 0.4rem;
	color: #fff;
	margin-right: 0.3rem;
	margin-top: 0.3rem;
}
.faguang{
	box-shadow:1px 0px 5px 0px rgba(206,194,229,0.4) inset;
}
.btns{
	background: #CEC2E5!important;
	border: none!important;
}

.modal{
	z-index: 99999!important;
}
.mess{
	position: absolute;
	height: 10rem;
	width: 10.5rem;
	top: 49%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(23,17,27,0.95);
	z-index: 9999;
	color: #fff;
	font-size: 0.3rem;
	border-radius: 0.1rem;
	box-shadow:2px 2px 10px 2px rgba(255,255,255,0.3);
}
.me-relative{
	width: 90%;
	margin: auto;
}
.be-center{
	text-align: center;
	margin-top: 0.1rem;
}
.me-close{
	margin-top: 0.05rem;
}
.me-high{
	height: 0.8rem;
	line-height: 0.8rem;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.me-fl-left{
	float: left;
}
.me-fl-right{
	float: right;
	margin-right: 0rem;
}
.me-first{
	margin-top: 0.2rem;
}
.me-resolve{
	padding-top: 0.05rem;
	padding-bottom: 0.1rem;
	font-size: 0.15rem;
}
.me-getres{
	padding-bottom: 0.05rem;
	font-size: 0.2rem;
	padding-top: 0.2rem;
	font-size: 0.3rem;
}
.me-line{
	border-bottom: 1px solid #ccc;
}
.deep{
	width: 92%;
	margin: auto;
	padding-bottom: 0.2rem;
}