/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green, .iradio_square-green {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 22px;
	height: 22px;
	background: url(../images/custom/green.png) no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_square-green {
	background-position: 0 0;
}

.icheckbox_square-green.hover {
	background-position: -24px 0;
}

.icheckbox_square-green.checked {
	background-position: -48px 0;
}

.icheckbox_square-green.disabled {
	background-position: -72px 0;
	cursor: default;
}

.icheckbox_square-green.checked.disabled {
	background-position: -96px 0;
}

.iradio_square-green {
	background-position: -120px 0;
}

.iradio_square-green.hover {
	background-position: -144px 0;
}

.iradio_square-green.checked {
	background-position: -168px 0;
}

.iradio_square-green.disabled {
	background-position: -192px 0;
	cursor: default;
}

.iradio_square-green.checked.disabled {
	background-position: -216px 0;
}

/* HiDPI support */
@media ( -o-min-device-pixel-ratio : 5/4) , ( -webkit-min-device-pixel-ratio :
		1.25) , ( min-resolution : 120dpi) {
	.icheckbox_square-green, .iradio_square-green {
		background-image: url(../images/custom/green2x.png);
		-webkit-background-size: 240px 24px;
		background-size: 240px 24px;
	}
}

.page-list a {
	display: inline-block!important;
	padding: 0 0.1rem!important;
	border: 1px solid #CEC2E5!important;
	box-shadow: 0px 0px 10px rgba(206,194,229,0.4)!important;
	margin: 0.1rem 0px!important;
}
table.gridtable {
	font-size:0.15rem;
	border-width: 1px;
	border-color: #CEC2E5;
	border-collapse: collapse;
	width: 7.5rem;
	text-align: center;
	margin-top: 0.1rem;
	box-shadow: 0px 0px 10px rgba(206,194,229,0.4);
}
table.gridtable th {
	border-width: 1px;
	height: 0.4rem;
	border-style: solid;
	text-align: center;
	border-color: #CEC2E5;
	/* background-color: #2C2336; */
}
table.gridtable td {
	font-size:0.13rem;
	border-width: 1px;
	height: 0.4rem;
	border-style: solid;
	border-color: #CEC2E5;
	/* background-color: #2C2336; */
}
.close{
	height: 0.2rem;
	width: 0.2rem;
}
