html{height:100%;font-size: 24px}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, from, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button { margin: 0; padding: 0; }
body {height:100%; font-size: 1rem;font-family: "微软雅黑", Helvetica, STHeiTi, sans-serif; line-height: 1.5;color: #000; -webkit-user-select: none; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; outline: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
fieldset, img { border: 0; }
img{width:100%;}
li { list-style: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
input, button, textarea, select, optgroup, option { outline: 0;}
input{ -webkit-appearance: none;border:0;outline: none;}
input[type="checkbox"]{-webkit-appearance:checkbox;}
a { -webkit-touch-callout: none; text-decoration: none; }
em, i { font-style: normal;}

select option{
    -webkit-appearance: none;
}
select option:hover{
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
    color: #bbb; }
.clearfix:before{content: "";display: block;height: 0;clear: both;}
.clearfix:after{content: "";display: block;height: 0;clear: both;}
.flex { display: box; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.flex-1 { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.flex-2 { -webkit-box-flex: 2; -moz-box-flex: 2; -webkit-flex: 2; -ms-flex: 2; flex: 2; }
.flex-fx-r { -webkit-box-orient: horizontal;  /* 12版 */ -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; flex-direction: row; }
.flex-fx-c { -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; }
.flex-r-c { -webkit-box-pack: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; justify-content: center; }
.flex-c-c { -webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; }
.flex-wrap { -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap; }
.flex-items-c { -webkit-align-content: center; -moz-align-content: center; -ms-align-content: center; -o-align-content: center; align-content: center; }
.flex-align-self { -webkit-align-self: center; -moz-align-self: center; -ms-align-self: center; -o-align-self: center; -align-self: center; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #bbb;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#bbb;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#bbb;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #bbb;
}
@media screen and (min-width: 320px) {
    body {
        font-size:12px!important;
    }
}
@media screen and (min-width: 360px) {
    body {
        font-size:14px!important;
    }
}

input::-webkit-input-placeholder{
    font-size:0.2rem;
    color: #A6A4A6;
}
.container-app img{display: block;}
.container-app{max-width: 640px;margin:0 auto;background-color:#fff;    min-height: 100vh;box-sizing: border-box; }
