.announce-top{
    width: 100%;
    background-image: linear-gradient(#ff4500, #fccd92);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    box-shadow: 0px 20px 10px -20px #faab7e;
}
.top-text{
    text-align: center;
    font-size: 0.6rem;
    color: #fff;
}
.my-content{
}
.my-content ul{
    width: 33.3%;
    float: left;
    margin-top: 0.5rem;
}
.my-content ul li{
    margin: 0.3rem auto;
    color: #fff;
    /* FONT-SIZE: 12PX; */
    font-size: 0.35rem;
}
.announce-area{
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background: #fff;
}
.last-float{
    margin-bottom: 0.6rem;
}
.announce-text{
    text-align: center;
    margin-top: 1rem;
}
.last-ul:last-child{
    margin-bottom: 0.8rem;
}
.announce-center{
    margin-top: 0.5rem;
}
.announce-center .my-line{
    height: 0.6rem;
    width: 0.1rem;
    background: #fccd92;
    float: left;
    margin-left: 0.5rem;
}
.announce-center .my-toke{
    font-size: 0.4rem;
    color: #faab7e;
    margin-left: 0.8rem;
    line-height: 0.6rem;
}
.announce-bottom{
    width: 93%;
    margin: 0 auto;
}
.announce{
    border-top: 1px solid #e8e7e7;
    display: flex;
    margin-top: 0.3rem;
}
.announce-one{
    flex-grow: 1;
}
.announce-one p{
    margin-left: 0.3rem;
}
.announce-two {margin:0 0.2rem;padding-top: 0.3rem;}
/* .announce-two img{
    width: 0.6rem;
    height: 0.5rem;
    opacity: 0.6;
} */

.my-text-one{
    color: #2d2d2d;
    margin-top: 0.3rem;
}
.my-text-two{
    color: #9e9e9e;
    margin-top: 0.1rem;
}
.my-text-three{
    font-size: 0.3rem;
    margin-top: 0.3rem;
}
.my-text-three .time{
    /* margin-left: 7.5rem; */
}
.i-right-arrow{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E %3Cpath fill='%234C5161' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'%3E%3C/path%3E %3C/svg%3E") no-repeat;
    background-size: 100% 100%;
}